html,
body {
    height: 100%;
    margin: 0;
}

#main {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
    /* background: url(../img/Backgroundpic.jpg) no-repeat top left; */
    background-size: cover;

}

#left-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    background: url('../img/SZTU.png') no-repeat center center;
    background-size: cover;
    margin-left: 50px;
}

/* @keyframes fade-out {
    0% {
        background-color: rgba(135, 206, 250, .8);
    }

    100% {
        background-color: rgba(135, 206, 250, .2);
    }
} */

.allBox {
    width: calc(100% - 450px);
    /* padding: 50px;
    padding-bottom: 20px; */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(135, 206, 250, .8));
    /* 初始背景颜色 */
    border-radius: 10px;
    /* box-shadow: 0 0 20px grey; */
    height: 100%;
    min-height: 500px;
    /* animation: fade-out 3s forwards; */
    /* 应用渐变动画 */
}

.InputBox {
    margin-top: 100px;
    margin-right: 300px;
    width: 600px;
    padding: 50px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px grey;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    min-height: 500px;
}

.FormBox {
    margin-top: 15px;
}

.FormInput {
    height: 45px;
    margin: 30px 0;
}

.SignBtn {
    margin-top: 15px;
    width: 530px;
    margin-left: -12px;
    outline: none;
}

.input-group .captcha-img {
    width: 100px;
    display: table-cell;
    /* 使用浮动使得图片和输入框在同一行 */
    text-align: center;
    background-color: seagreen;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 1px solid seagreen;
    vertical-align: middle;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* 图片和输入框之间的间距 */
}